#productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10rem;
    row-gap: .25rem;
    margin-top: 1rem;
    border-style: dotted;
}

h1 {
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: pink;
    font-family:fantasy;
 }
 p {
    color:cadetblue
 }
 span#like-glyph.like-btn {
    font-size: 24px;
 }
 span#like-glyph.like-btn:hover {
    color: red;
 }
 form#form {
    color: purple;
 }
 br {
    content: "";
  }
  button#submit{
    color: purple;
  }
  div#list.comments {
    color:brown;
    font-size:x-large;
  }
  #list p:nth-child() {
    color: darkblue;
    font-size:large;
  }
  #list p:nth-last-child() {
    color:mediumblue;
    font-size: medium;
  }
 
  element.style {
    color: black;
  }
#list {
    line-height: .05cm;
}
